<mat-card>
  <mat-card-header>
    <h1 mat-dialog-title>{{ isEditMode ? 'Edit Item' : 'Add Item' }}</h1>
  </mat-card-header>
</mat-card>

<form [formGroup]="parcelItemForm" (ngSubmit)="onSubmit()">

  <mat-card-content>

    <mat-form-field class="mat-50">
      <mat-label>Item Type</mat-label>
      <mat-select formControlName="itemType">
        <mat-option *ngFor="let type of itemTypeList" [value]="type">{{ type }}</mat-option>
      </mat-select>
      <mat-error *ngIf="parcelItemForm.controls.itemType.hasError('required')">
        Item type is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-50">
      <mat-label>Item Name</mat-label>
      <input matInput formControlName="itemName">
      <mat-error *ngIf="parcelItemForm.controls.itemName.hasError('required')">
        Item name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Item Description</mat-label>
      <textarea matInput formControlName="itemDescription"></textarea>
      <mat-error *ngIf="parcelItemForm.controls.itemDescription.hasError('required')">
        Item description is required
      </mat-error>
    </mat-form-field>

  </mat-card-content>

  <mat-card-footer style="margin:2%;text-align: right;">
    <!-- <div mat-dialog-actions style="margin:2%;text-align: right;"> -->
    <div style="margin:2%;text-align: right;">
      <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Update' : 'Save' }}</button>
    </div>
  </mat-card-footer>
</form>
<!-- </div> -->


<!-- <form action="" [formGroup]="parcelItemForm" (ngSubmit)="onSubmit()">

    <mat-card>
        <div mat-card-title>
            {{title}}
        </div>
    </mat-card>

    <mat-card-content>

        <mat-form-field>
            <mat-label>Item Type</mat-label>
            <mat-select formControlName="itemType">
                <mat-option *ngFor="let itemType of itemTypeList" [value]="itemType">{{itemType}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="itemName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="itemDescription">
        </mat-form-field>

    </mat-card-content>

    <mat-card-footer>
        <div style="margin:2%;text-align: right;">
            <button mat-raised-button type="submit" color="primary">Save</button>
            <button mat-raised-button color="warn" (click)="dialogRef.close(false)">Cancel</button>
        </div>
    </mat-card-footer>

</form> -->