<mat-card>
    <mat-card-header>
      <h1 mat-dialog-title>{{isEditMode ? 'Edit Parcel' : 'New Parcel Form'}}</h1>
    </mat-card-header>
  </mat-card>
  
  <form [formGroup]="parcelForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field appearance="fill" class="mat-50">
        <mat-label>Date Recorded</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateRecorded">
        <mat-error *ngIf="parcelForm.get('dateRecorded')?.invalid">{{ getErrorMessage('dateRecorded') }}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-50">
        <mat-label>Tracking No.</mat-label>
        <input matInput formControlName="trackingReference" readonly>
        <mat-error *ngIf="parcelForm.get('trackingReference')?.invalid">{{ getErrorMessage('trackingReference') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-25">
        <mat-label>Sender Name</mat-label>
        <input matInput formControlName="fromName">
        <mat-error *ngIf="parcelForm.get('fromName')?.invalid">{{ getErrorMessage('fromName') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-25">
        <mat-label>Sender Email</mat-label>
        <input matInput formControlName="fromEmail">
        <mat-error *ngIf="parcelForm.get('fromEmail')?.invalid">{{ getErrorMessage('fromEmail') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-25">
        <mat-label>Sender Contact</mat-label>
        <input matInput formControlName="fromPhone">
        <mat-error *ngIf="parcelForm.get('fromPhone')?.invalid">{{ getErrorMessage('fromPhone') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-25">
        <mat-label>Receiver Name</mat-label>
        <input matInput formControlName="toName">
        <mat-error *ngIf="parcelForm.get('toName')?.invalid">{{ getErrorMessage('toName') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-25">
        <mat-label>Receiver Email</mat-label>
        <input matInput formControlName="toEmail">
        <mat-error *ngIf="parcelForm.get('toEmail')?.invalid">{{ getErrorMessage('toEmail') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-25">
        <mat-label>Receiver Contact</mat-label>
        <input matInput formControlName="toPhone">
        <mat-error *ngIf="parcelForm.get('toPhone')?.invalid">{{ getErrorMessage('toPhone') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-50">
        <mat-label>From Branch</mat-label>
        <mat-select formControlName="fromBranchId">
          <mat-option *ngFor="let branch of branches" [value]="branch.id">{{ branch.branchName }}</mat-option>
        </mat-select>
        <mat-error *ngIf="parcelForm.get('fromBranchId')?.invalid">{{ getErrorMessage('fromBranchId') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-50">
        <mat-label>To Branch</mat-label>
        <mat-select formControlName="toBranchId">
          <mat-option *ngFor="let branch of branches" [value]="branch.id">{{ branch.branchName }}</mat-option>
        </mat-select>
        <mat-error *ngIf="parcelForm.get('toBranchId')?.invalid">{{ getErrorMessage('toBranchId') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="mat-25">
        <mat-label>Item Description</mat-label>
        <input matInput formControlName="itemDescription">
        <mat-error *ngIf="parcelForm.get('itemDescription')?.invalid">{{ getErrorMessage('itemDescription') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-25">
        <mat-label>Weight</mat-label>
        <input matInput formControlName="weight">
        <mat-error *ngIf="parcelForm.get('weight')?.invalid">{{ getErrorMessage('weight') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-25">
        <mat-label>Cost</mat-label>
        <input matInput formControlName="cost">
        <mat-error *ngIf="parcelForm.get('cost')?.invalid">{{ getErrorMessage('cost') }}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="mat-50">
        <mat-label>Parcel Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of parcelStatusList" [value]="status">{{ status }}</mat-option>
        </mat-select>
        <mat-error *ngIf="parcelForm.get('status')?.invalid">{{ getErrorMessage('status') }}</mat-error>
      </mat-form-field>
    </mat-card-content>
  
    <mat-card-footer style="margin:2%;text-align: right;">
      <div style="margin:2%;text-align: right;">
        <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Update' : 'Save' }}</button>
      </div>
    </mat-card-footer>
  </form>



<!-- <mat-form-field appearance="fill" class="mat-50">
            <mat-label>From Branch</mat-label>
            <mat-select formControlName="fromBranch">
                <mat-option *ngFor="let branch of branches" [value]="branch.id">{{branch.branchName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="parcelForm.get('fromBranch')?.invalid">{{ getErrorMessage('fromBranch') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-50">
            <mat-label>To Branch</mat-label>
            <mat-select formControlName="toBranch">
                <mat-option *ngFor="let branch of branches" [value]="branch.id">{{branch.branchName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="parcelForm.get('toBranch')?.invalid">{{ getErrorMessage('toBranch') }}</mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="fill" class="mat-50">
            <mat-label>From Branch</mat-label>
            <mat-select formControlName="fromBranch">
                <mat-option *ngFor="let branch of branches" [value]="branch.id">
                    {{ branch.branchName }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="parcelForm.get('fromBranch')?.invalid">{{ getErrorMessage('fromBranch') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-50">
            <mat-label>To Branch</mat-label>
            <mat-select formControlName="toBranch">
                <mat-option *ngFor="let branch of branches" [value]="branch.id">
                    {{ branch.branchName }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="parcelForm.get('toBranch')?.invalid">{{ getErrorMessage('toBranch') }}</mat-error>
        </mat-form-field> -->


         <!-- <mat-form-field class="mat-50">
            <mat-label>Item Type</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of parcelStatusList" [value]="status">{{ status }}</mat-option>
            </mat-select>
            <mat-error *ngIf="parcelForm.controls.status.hasError('required')">
              Item type is required
            </mat-error>
        </mat-form-field> -->

         <!-- <mat-form-field appearance="fill" class="mat-25">
            <mat-label>Parcel Item</mat-label>
            <mat-select formControlName="parcelItem">
                <mat-option *ngFor="let item of parcelItems" [value]="item.id">{{item.itemName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="parcelForm.get('parcelItem')?.invalid">{{ getErrorMessage('parcelItem') }}</mat-error>
        </mat-form-field> -->