<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button (click)="toggleDrawer()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <h1>E-Tech </h1>

    <span class="fill-remaining-space"></span>

    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" class="sidebar">
  <!-- <mat-drawer #drawer opened="true" mode="side" class="sidebar" (mouseover)="drawer.open()"> -->
    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>list</mat-icon>
            CMS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <!-- <mat-list-item>
            <button routerLink="accounts" mat-button>
              <mat-icon>shopping_cart</mat-icon>Branches
            </button>
          </mat-list-item> -->

          <mat-list-item routerLink="branches">
            <mat-icon>shopping_cart</mat-icon> Branches
          </mat-list-item>

          <mat-list-item routerLink="parcelitems">
            <mat-icon>analytics</mat-icon> Items
          </mat-list-item>

          <mat-list-item routerLink="weightbands">
            <mat-icon>analytics</mat-icon> Weight Bands
          </mat-list-item>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>category</mat-icon> Parcels
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <mat-list-item routerLink="parcels">Recorded</mat-list-item>
              <mat-list-item routerLink="itemcatalogue">In-Transit</mat-list-item>
              <mat-list-item routerLink="">Ready For Pickup</mat-list-item>
              <mat-list-item routerLink="">OverDue</mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>list</mat-icon>
            PMS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>

          <mat-list-item routerLink="projects">
            <mat-icon>shopping_cart</mat-icon> Project(s)
          </mat-list-item>

          <mat-list-item routerLink="tasks">
            <mat-icon>analytics</mat-icon> Project Tasks
          </mat-list-item>

          <mat-list-item routerLink="weightbands">
            <mat-icon>analytics</mat-icon> Weight Bands
          </mat-list-item>

        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>category</mat-icon>
            Item
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="itemcategory">Item Category</mat-list-item>
          <mat-list-item routerLink="itemcatalogue">Item Catalogue</mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>list</mat-icon>
            Item Catalog
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>Menu Item 1</mat-list-item>
          <mat-list-item>Menu Item 2</mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-nav-list>
        <mat-list-item>
          <button mat-button>
            <mat-icon>shopping_cart</mat-icon>Orders
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>analytics</mat-icon>Analytics
          </button>
        </mat-list-item>
      </mat-nav-list>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>list</mat-icon>
            Financials
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <button routerLink="accounts" mat-button>
              <mat-icon>shopping_cart</mat-icon>Chart Of Accounts
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button>
              <mat-icon>analytics</mat-icon>Journals
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Main Menu 1
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <button mat-button (click)="toggleSubMenu('submenu1')">Submenu 1</button>
          </mat-list-item>
          <mat-expansion-panel *ngIf="isSubMenuOpen('submenu1')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>menu</mat-icon>
                Submenu 1
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <!-- Submenu items for Submenu 1 -->
              <mat-list-item>
                <button mat-button>Submenu Item 1</button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button>Submenu Item 2</button>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Company Setup
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item routerLink="companies">Companies</mat-list-item>
          <mat-divider></mat-divider>
          <br>

          <mat-form-field>
            <mat-label><b>Select Company</b></mat-label>
            <mat-select [(value)]="selectedCompanyId" (selectionChange)="switchCompany($event.value)">
              <mat-option *ngFor="let company of companies" [value]="company.id">{{ company.companyName }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-list-item routerLink="notifications">
            <mat-icon>analytics</mat-icon> Email Configs
          </mat-list-item>

        </mat-nav-list>
      </mat-expansion-panel>


      <!-- Add more expansion panels as needed -->
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <div style="height: 100vh; text-align: center;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>

        <h1>E-Tech Inventory</h1>

        <span class="fill-remaining-space"></span>

        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
        
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side">
        
        <mat-nav-list>
            <br><br>
            <mat-list-item>
                <button routerLink="itemcategory" mat-button><mat-icon>category</mat-icon>Item Category</button>
            </mat-list-item>

            <mat-list-item>
                <button mat-button><mat-icon>list</mat-icon>Item Catalog</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>business</mat-icon>Suppliers</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>person</mat-icon>Customers</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>shopping_cart</mat-icon>Orders</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>analytics</mat-icon>Analytics</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>description</mat-icon>Report</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button><mat-icon>exit_to_app</mat-icon>Logout</button>
            </mat-list-item>
        </mat-nav-list>
    


    </mat-drawer>
    <mat-drawer-content>
        <div style="height: 100vh; text-align: center;">
        
            <router-outlet></router-outlet>

        </div>
        
    </mat-drawer-content>

</mat-drawer-container> -->

<!-- 
    *********************************************************************************************************
    <mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item>Item Category</a>
            <a mat-list-item> Item Catalog</a>
            <a mat-list-item> Suppliers</a>
            <a mat-list-item> Customers</a>
            <a mat-list-item> Orders</a>
            <a mat-list-item> Reports</a>
            <a mat-list-item> Analytics</a>
            <a mat-list-item> Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 200vh;">
            
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->